#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-size: x-large;
}


canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}

#clueText {
    display: flexbox;
    z-index: -10;
    justify-content: center;
    position: relative;
    top: 0;
    user-select: none;
    opacity: 0;
    transition: 1s opacity;
    text-align: center;
    font-size: 2ve;
    background-color: blanchedalmond;
}
ul {
    padding: inherit;
}

#characterTextBox {
    z-index: 100;
    display: flex;
    width: 33%;
    align-items: flex-start;
    opacity: 0;
    transition: .5s opacity;
    text-align: center;
    font-size: 2vw;
    background-color:rgba(255, 255, 255, 0.857);
    top: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: space-around;
    opacity: 75%;
    user-select: none;
    padding: 0;
}

#Haberdashery{
    height: 2em;
    margin: 3%;
    border-radius: 1em;
}
#Port{
    height: 2em;
    margin: 3%;
    border-radius: 1em;
}
#Station{
    height: 2em;
    margin: 3%;
    border-radius: 1em;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15%,15%, 15%,15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw
  }

li {
    list-style: none;
    display: block;
}
#characterTextBox img {
    display: flex;
    position: absolute;
    top: -100%;
    left: 50%;
    width: 33%;
}

#phone{
    user-select: none;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 5%;
    height: auto;
    opacity: .7;
    z-index: 6;
}

#phone:hover {
    opacity: 1;
}

#phoneBackground {
    background-image: url(../src/assets/phone/iphoneOn.png);
    background-size: 100% 100%;
    background-repeat: none;
    height: 80vh;
    width: 20vw;
}
#mapImage {
    background-image: url(../src/assets/phone/map.png);
    background-size: 100% 100%;
    background-repeat: none;
    height: 80vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#phoneOn {
    position: absolute;
    user-select: none;
    left: 0;
    top: 0;
    align-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.19);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#phoneOn > img {
    height: 80%;
    width: auto;
}

#phoneOn > ul {
    position: absolute;
    margin: 0%;
    padding: 2.5%;
    height: 50%;
    width: 88%;
    left: 3%;
    top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

#menu > li {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 25%;
}

#mapButtons  {
    display: flex;
    height: 89%;
    width: inherit;
    justify-content: center;
    align-items: flex-end;
}

#mapButton {
    background-image: url(../src/assets/phone/city-map.jpg);
    background-size: 100% 100%;
    background-repeat: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 0.1rem white solid;
    -webkit-text-stroke-width: .05rem;
    -webkit-text-stroke-color: #09696a;
}

#journalButton {
    background-image: url(../src/assets/phone/Diary.svg);
    background-size: 100% 100%;
    background-repeat: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 0.1rem white solid;
    -webkit-text-stroke-width: .05rem;
    -webkit-text-stroke-color: #09696a;
}

#navbar img {
    width: 3%;
    height: auto;
    border-radius: 40%;
    opacity: .5;
}

#navbar img:hover {
    opacity: 1;
}

#dropdown-text {
    display: none;
    width: 30%;
    background-color: white;
    padding: 1%;
}



#instructions:hover #dropdown-text {
    display: block;
}

body {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25%;
}