#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-size: x-large;
}


canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}

#clueText {
    display: flexbox;
    z-index: -10;
    justify-content: center;
    position: relative;
    top: 0;
    user-select: none;
    opacity: 0;
    transition: 1s opacity;
    text-align: center;
    font-size: 2ve;
    background-color: blanchedalmond;
}
ul {
    padding: inherit;
}

#characterTextBox {
    z-index: 100;
    display: flex;
    width: 33%;
    align-items: flex-start;
    opacity: 0;
    transition: .5s opacity;
    text-align: center;
    font-size: 2vw;
    background-color:rgba(255, 255, 255, 0.857);
    top: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: space-around;
    opacity: 75%;
    user-select: none;
    padding: 0;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15%,15%, 15%,15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
  }

li {
    list-style: none;
    display: block;
}
#characterTextBox img {
    display: flex;
    position: absolute;
    top: -100%;
    left: 50%;
    width: 33%;
}

#phone{
    user-select: none;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 5%;
    height: auto;
    opacity: .7;
}

#phone:hover {
    opacity: 1;
}

#phoneOn {
    user-select: none;
    left: 33%;
    position: absolute;
    top: 10%;
    align-content: center;
    height: 80%;
}

#phoneOn > img {
    height: 100%;
    width: auto;
}

#phoneOn > ul {
    position: absolute;
    margin: 0%;
    padding: 2.5%;
    height: 50%;
    width: 88%;
    left: 3%;
    top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#mapButtons  {
    display: flex;
    width: 85%;
    left: 6%;
    position: absolute;
    bottom: 13%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 5%;
}